.nav {
	background-color: white;
	width: 100%;
	height: 100px;
	padding-top: 25px;
	border-bottom: 5px solid red;
}

.navbtn {
	background-color: red;
	height: 50px;
	width: 10%;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: calc( (30% - 75px) / 3 );
	margin-bottom: 0px;
}

#sqaure {
	background-color: red;
	width: 150px;
	height: 100px;
	top: 0px;
}

#triangle {
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-top: 100px solid red;
	top: 100px;
}

#sqaure, #triangle {
	position: fixed;
	left: 50%;
	margin-left: -75px;
}

.two {
	margin-right: 300px;
}