nav {
	border-bottom: 2px solid grey;
	height: 148px;
}

h1 {
	font-family: helvetica, arial, sans-serif;
	margin: 0px;
	font-size: 7vw;
	color: white;
	position: absolute;
	left: 100px;
	top: 100px;
}

footer {
	border-top: 2px solid grey;
	height: 98px;
}

.wrapper {
	margin: 500px auto 0px auto;
	width: 90%;
}

form {
	width: 420px;
	position: absolute;
	right: 150px;
	margin-bottom: 200px;
}

form div + div {
	margin-top: 1em;
}

input, textarea {
	font: 1em helvetica, arial, sans-serif;
	width: 420px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #999;
}

input:focus, textarea:focus {
	border-color: #000;
}

textarea {
	vertical-align: top;
	height: 5em;
	resize: vertical;
}

.form-btn {
	padding-left: 0px;
}

form button {
	color: lightskyblue;
	border: 2px lightskyblue solid;
	margin: 0px;
	text-decoration: none;
	padding: 7.5px;
	font-size: 15px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	display: inline-block;
	cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
	background-color: white;
}

form button:hover {
	color: #fff;
	background-color: lightskyblue;
}

.info {
	width: 420px;
	height: 209px;
	position: absolute;
	left: 150px;
	margin-bottom: 200px;
}

.icon {
	width: calc(100% / 5);
	display: inline;
	margin: -2px;
}

#bottom {
	margin: 250px 0px 0px 0px;
}

.line {
	margin-top: 98px;
	border-top: 2px solid lightskyblue;
	padding: 100px 0px 0px 0px;
}

h4 {
	font-family: 'Helvetica Neue UltraLight';
	margin: 0px 0px 25px 150px;
	font-size: 25px;
	width: 420px;
}

::-webkit-input-placeholder {
	color: lightskyblue;
	padding: 0px 0px 0px 25px;
}

:-moz-placeholder { /* Firefox 18- */
	color: lightskyblue;
	padding: 0px 0px 0px 25px;  
}

::-moz-placeholder {  /* Firefox 19+ */
	color: lightskyblue;
	padding: 0px 0px 0px 25px;  
}

:-ms-input-placeholder {  
	color: lightskyblue;
	padding: 0px 0px 0px 25px; 
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

	form {
		left: 25%;
		margin-top: 500px;
	}

	.info {
		left: 50%;
		margin-left: -210px;
	}

	input, textarea {
		font-size: 2em;
		width: 50vw;
	}

	form button {
		font-size: 30px;
		width: 50vw;
	}

	.form-btn {
		padding: 0px;
		margin-top: 50px; 
	}

	h4 {
		font-size: 50px;
		margin-left: 25vw;
	}

	.info {
		width: 50vw;
		margin: 0px;
		left: 25%;
		font-size: 150%;
	}
	::-webkit-input-placeholder {
		padding: 0px;
		text-align: center
	}

	:-moz-placeholder { /* Firefox 18- */
		padding: 0px;
		text-align: center  
	}

	::-moz-placeholder {  /* Firefox 19+ */
		padding: 0px;
		text-align: center  
	}

	:-ms-input-placeholder {  
		padding: 0px;
		text-align: center 
	}

}






