body {
	margin: 0px;
}


#wrap {
  overflow: hidden;
  margin: 200px auto 0px auto;
  text-align: center;
}

.box {
  width: 20%;
  position: relative;
  float: left;
  display: block;
  background-color: lightgrey;
  margin: 50px;
}
@media only screen and (max-width : 480px) {
  /* Smartphone view: 1 tile */
  .box {
    width: 100%;
  }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
  /* Tablet view: 2 tiles */
  .box {
    width: 50%;
  }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
  /* Small desktop / ipad view: 3 tiles */
  .box {
    width: 33.3%;
  }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
  /* Medium desktop: 4 tiles */
  .box {
    width: 25%;
  }
}

nav {
	border-bottom: 2px solid grey;
	height: 148px;
}