body {
	margin: 0px;
}


#wrap {
  overflow: hidden;
  margin: 200px auto 0px auto;
  text-align: center;
  width: 90%;
}

.box {
  width: 270px;
  position: relative;
  float: left;
  display: block;
  background-color: lightgrey;
  margin: 50px 0px 50px 0px;
  margin-left: calc((100% - 810px) / 6);
  margin-right: calc((100% - 810px) / 6);
}

.bottom {
	margin-bottom: 200px;
}


/*
@media only screen and (max-width : 480px) {
  /* Smartphone view: 1 tile 
  .box {
    width: 900px;
  }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
  /* Tablet view: 2 tiles 
  .box {
    width: 600px;
  }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
  /* Small desktop / ipad view: 3 tiles 
  .box {
    width: 400px;
  }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
  /* Medium desktop: 4 tiles 
  .box {
    width: 270px;
  }
}
*/


nav {
	border-bottom: 2px solid grey;
	height: 148px;
}