body {
	margin: 0px;
}

.background {
  position: fixed; 
  top: 0; 
  right: 0; 
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}


h1 {
	font-family: 'Helvetica Neue UltraLight', sans-serif;
	font-size: 8em;
	color: white;
	margin: 180px 0px 0px 100px;
}